body {
    background-color: #a668f3;
    color: white;
    display: flex;
    flex-direction: column;
}

#r1 {
    background-color: #000000;
    color: #a668f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
